<?xml version="1.0" encoding="utf-8"?>

<!--
##############################################
Run with:

choco install .\packages.config -y
##############################################
-->

<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="advanced-renamer.install" />
  <package id="aria2" />
  <package id="autohotkey" />
  <package id="autohotkey.install" />
  <package id="autohotkey.portable" />
  <package id="bitwarden" />
  <package id="cascadiacode" />
  <package id="cascadiacodeitalic" />
  <package id="cascadiacodepl" />
  <package id="cascadiacodepl-italic" />
  <package id="cascadiafonts" />
  <package id="cascadiamono" />
  <package id="cascadiamonoitalic" />
  <package id="cascadiamonopl" />
  <package id="cascadiamonopl-italic" />
  <package id="ccleaner" />
  <package id="choco-cleaner" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-dotnetfx.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="choco-shortcuts-winconfig" />
  <package id="choco-upgrade-all-at" />
  <package id="Cmder" />
  <package id="ConEmu" />
  <package id="Cygwin" />
  <package id="desktopicons-winconfig" />
  <package id="ditto" />
  <package id="docker-desktop" />
  <package id="DotNet4.6.1" />
  <package id="dotnet-8.0-desktopruntime" />
  <package id="dotnet-desktopruntime" />
  <package id="dotnetfx" />
  <package id="drawio" />
  <package id="Everything" />
  <package id="explorer-winconfig" />
  <package id="ffmpeg" />
  <package id="FiraCode" />
  <package id="Firefox" />
  <package id="foxitreader" />
  <package id="Ghostscript.app" />
  <package id="gimp" />
  <package id="git" />
  <package id="git.install" />
  <package id="GoogleChrome" />
  <package id="googledrive" />
  <package id="greenshot" />
  <package id="hackfont" />
  <package id="handbrake" />
  <package id="handbrake.install" />
  <package id="InkScape" />
  <package id="irfanview" />
  <package id="irfanviewplugins" />
  <package id="jre8" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="KB3118401" />
  <package id="keepass" />
  <package id="keepass.install" />
  <package id="libreoffice-fresh" />
  <package id="microsoft-edge" />
  <package id="microsoft-windows-terminal" />
  <package id="ninja" />
  <package id="notepadplusplus" />
  <package id="notepadplusplus.install" />
  <package id="notion" />
  <package id="obsidian" />
  <package id="openssh" />
  <package id="pia" />
  <package id="powershell-core" />
  <package id="powertoys" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python" />
  <package id="python3" />
  <package id="python312" />
  <package id="qbittorrent" />
  <package id="ripgrep" />
  <package id="rufus" />
  <package id="sysinternals" />
  <package id="taskbar-winconfig" />
  <package id="teracopy" />
  <package id="treesizefree" />
  <package id="vcredist140" />
  <package id="vcredist2010" />
  <package id="vcredist2015" />
  <package id="vim" />
  <package id="vlc" />
  <package id="vlc.install" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="wireshark" />
  <package id="wsl2" />
  <package id="youtube-dl" />
</packages>
